# Virtual Environment
env/
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Models
models/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

#data
data/